<html>
    <head>
        <title>Almaty blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Almaty blog</a></h1>
            <p>It's a blog about Almaty. Here everyone can write their own history related to Almaty.</p>
        </div>

        <div>
            <p>published date: 17.08.21, 22:20</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my test post by tutorial Djang girls. I am taking this tutorial for the second time</p>
        </div>
    </body>
</html>